/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Reset CSS ends */

/*
========================================
Fonts Used
========================================
*/

@font-face {
    font-family: "Futura Bk BT Book";
    src: url("../fonts/tt0140m_.ttf");
}

/*
=======================================
HomePage CSS
=======================================
*/

body {
    padding: 50px;
    background: #009688;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.logo {
    display: block;
    margin: auto;
    width: 400px;
}

.coming_soon {
    margin: auto;
    position: absolute;
    top: 100px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    max-width: 400px;
    min-width: 300px;
    height: 250px;
}

.coming_soon > div {
    margin-top: 10px;
    text-align: center;
    color: #FFFFFF;
    font-family: "Futura Bk BT Book";
    font-size: 1.3em;
    font-style: italic;
    background: rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 4px;
}

.coming_soon_button {
    margin: auto;
    margin-top: 70px;
    display: block;
    padding: 15px;
    color: #FFFFFF;
    background: #DF4A32;
    border: none;
    border-radius: 4px;
    font-family: "Futura Bk BT Book";
    font-size: 1.3em;
}

input {
    padding: 8px 4px;
    border-radius: 4px;
    border: none;
    width: 200px;
    font-size: 0.9em;
    color: #424242;
}

.count-me-in {
    padding: 7px 5px;
    color: #FFFFFF;
    background: #DF4A32;
    margin-left: 5px;
    border: none;
    border-radius: 4px;
    font-family: "Futura Bk BT Book";
    font-size: 1em;
}

.count-me-in:hover {
    cursor: pointer;
}

.error, .success {
    background-color: #F44336;
    margin-bottom: 5px;
    border-radius: 4px;
    display: none;
}

.success {
    background-color: #4CAF50;
    display: none;
}